{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <a style = "text-decoration: none;color: deeppink" href="{{ path('article_index') }}">main</a>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
{% endblock %}
