{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <div class="float-right" style="margin-top: 13px">
        <div class="navbar-header">
            <div class="row">
                {#                <a href="{{ path('article_locale', {'locale': 'en'}) }}">EN&nbsp;</a>#}
                {#                <a href="{{ path('article_locale', {'locale': 'ru'}) }}">RU&nbsp;</a>#}
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">img</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">created_at</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for article in articles %}
            <th scope="row"><img alt = ""
                                 width="100" height="100"
                                 src="{{  asset('uploads/' ~ article.fileName)  }}"></th>
            <td> {{ article.name }}</td>
            <td>{{ article.description }}</td>
            <td>@{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('article_edit', {'id': article.id}) }}">Update</a></td>
            <td><a href="{{ path('article_delete', {'id': article.id}) }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
