{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <a href="{{ path('article_create') }}">Создать</a>
    <table>
        <caption>Таблица</caption>
        <tr style="font-weight: bold">
            <td>Название</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        <tr>

            <td>{{ article.name }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('article_edit', {'id': article.id}) }}">Изменить</a>
                <a href="{{ path('article_delete', {'id': article.id}) }}">Удалить</a>
            </td>
        </tr>
    </table>
{% endblock %}
